#Card {
    border-radius: 5px;
    width: 250px;
    height: 350px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px hsl(207, 26%, 17%);
}

#Card img {
    border-radius: 5px;
    width: 100%;
    height: 45%;
}

#CardName {
    margin-bottom: 20px;
}

.CardDetails {
    margin-bottom: 7px;
}

#Details {
    padding: 20px;
}